@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto"
}
.limit-container{
  width: 100%;
  max-width: 1160px;
  display: flex;
}
header{
  position: fixed;
  background-color: rgba(41, 62, 71, .7);
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-content{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 50px;
}
.logo img{
  width: 100%;
}
.header-content nav{
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-content nav a{
  text-decoration: none;
  font-size: 18px;
  color: #E1F5FF;
}